<% sort_data = project_sort_data(project) %>
<li class="list-item project-row sortable-item"
    data-sort-name="<%= sort_data[:name] %>"
    data-sort-state="<%= sort_data[:state_score] %>"
    data-sort-health="<%= sort_data[:health_score] %>"
    data-sort-updated="<%= sort_data[:updated_at] %>">
  <div class="project-row__health">
    <%= project_health_indicator(project) %>
  </div>
  <div class="project-row__text">
    <div class="project-title-row">
      <%= link_to project.name, project_path(project, ref: "team:#{parent_team.id}"), class: 'project-name' %>
    </div>
    <div class="muted project-description"><%= truncate(project.description.to_s, length: 80) %></div>
    <% if project.point_of_contact.present? %>
      <div class="muted project-poc"><%= project.point_of_contact %></div>
    <% end %>
  </div>
  <div class="project-row__badges">
    <div class="badges">
      <span class="badge state"><%= project_state_label(project) %></span>
      <% if project.archived %>
        <span class="badge archived">archived</span>
      <% end %>
    </div>
  </div>
</li>
