<% sort_data = team_sort_data(subordinate_team) %>
<li class="list-item project-row sortable-item"
    data-sort-name="<%= sort_data[:name] %>"
    data-sort-health="<%= sort_data[:health_score] %>">
  <div class="project-row__health">
    <%= team_health_indicator(subordinate_team) %>
  </div>
  <div class="project-row__text">
    <div class="project-title-row">
      <%= link_to subordinate_team.name, team_path(subordinate_team), class: 'project-name' %>
    </div>
    <div class="muted project-description"><%= truncate(subordinate_team.mission.to_s, length: 80) %></div>
    <% if subordinate_team.point_of_contact.present? %>
      <div class="muted project-poc"><%= subordinate_team.point_of_contact %></div>
    <% end %>
  </div>
  <div class="project-row__badges">
    <div class="badges">
      <% if subordinate_team.archived %>
        <span class="badge archived">archived</span>
      <% end %>
    </div>
  </div>
</li>
