<% content_for(:title) { "#{@team.name} - Radar" } %>
<%
  all_subordinate_teams = @team.subordinate_teams
  subordinate_teams = all_subordinate_teams.reject(&:archived?)
  archived_child_teams = all_subordinate_teams.select(&:archived?)
%>

<div data-controller="edit-form" data-edit-form-url-value="<%= team_path(@team.id) %>" data-edit-form-model-type-value="team">

<%= render 'shared/header', presenter: @header_presenter %>

<div class="initiative-dashboard-v2">
  <div class="metrics-row-v2">
    <%= render 'shared/health_widget', presenter: @health_presenter %>
    <%= render 'shared/trend_widget', presenter: @trend_presenter %>
    <%= render 'shared/confidence_widget', presenter: @confidence_presenter %>
  </div>
</div>

<%= render 'shared/toast_container' %>

<%= render 'shared/search' %>

<%= render 'teams/subordinate_teams',
    team: @team,
    subordinate_teams: subordinate_teams,
    archived_child_teams: archived_child_teams %>

<%= render 'shared/projects_section',
    frame_id: 'owned-projects-section',
    projects: @team.owned_projects,
    show_form: true,
    create_url: add_owned_project_team_path(@team.id) %>

<%= render 'shared/edit_modal', presenter: @edit_modal_presenter %>

</div><!-- end edit-form controller wrapper -->

<% if defined?(@errors) && @errors.present? %>
  <div class="errors">
    <ul>
      <% @errors.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>
