<% content_for(:title) { "#{@team_record.name} - Radar" } %>
<%
  all_child_teams = @team_record.child_relationships.includes(:child).order(:order).map(&:child)
  subordinate_teams = all_child_teams.reject(&:archived)
  archived_child_teams = all_child_teams.select(&:archived)
  has_subteams = subordinate_teams.any? || archived_child_teams.any?
  is_leaf_team = !has_subteams
  team = @team || @team_record
%>

<div data-controller="edit-form" data-edit-form-url-value="<%= team_path(@team_record) %>" data-edit-form-model-type-value="team">

<%= render "teams/header",
    team: team,
    team_record: @team_record %>

<%= render "teams/metrics",
    team: team,
    trend_data: @trend_data,
    trend_direction: @trend_direction,
    trend_delta: @trend_delta,
    weeks_of_data: @weeks_of_data,
    confidence_score: @confidence_score,
    confidence_level: @confidence_level,
    confidence_factors: @confidence_factors %>

<!-- Toast Container -->
<div id="toast-container" class="toast-container" data-toast-container></div>

<%= render "teams/search",
    team: team,
    team_record: @team_record,
    teams: @teams,
    initiatives: @initiatives,
    all_projects: @all_projects,
    subordinate_teams: subordinate_teams,
    archived_child_teams: archived_child_teams %>

<%= render "teams/subordinate_teams",
    team: team,
    team_record: @team_record,
    subordinate_teams: subordinate_teams,
    archived_child_teams: archived_child_teams %>

<%= render "teams/owned_projects",
    team: team,
    team_record: @team_record,
    subordinate_teams: subordinate_teams,
    archived_child_teams: archived_child_teams %>

<%= render "teams/edit_modal",
    team_record: @team_record %>

</div><!-- end edit-form controller wrapper -->

<% if defined?(@errors) && @errors.present? %>
  <div class="errors">
    <ul>
      <% @errors.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>
