<%#
  Expects: presenter (ProjectListItemPresenter)
  Columns: Symbol | Name | Trend | Projects | Stale | Contact | State
%>

<li class="project-item">
  <a href="<%= presenter.path %>" class="project-item__link" data-turbo-frame="_top">
    <div class="project-item__grid project-item__grid--parent">
      <span class="project-item__col project-item__col--health">
        <span class="project-item__health project-item__health--<%= presenter.health_css_class %>"></span>
      </span>
      <span class="project-item__col project-item__col--name">
        <span class="project-item__name"><%= presenter.name %></span>
      </span>
      <span class="project-item__col project-item__col--trend">
        <%= presenter.trend_arrow %>
      </span>
      <span class="project-item__col project-item__col--count"><%= presenter.projects_count %></span>
      <span class="project-item__col project-item__col--count"><%= presenter.stale_count %></span>
      <span class="project-item__col project-item__col--contact"><%= presenter.contact %></span>
      <span class="project-item__col project-item__col--state">
        <span class="<%= presenter.state_css_class %>"><%= presenter.state_label %></span>
      </span>
    </div>
  </a>
</li>
