<%= turbo_stream.replace "related-projects-section" do %>
  <%= render "shared/projects_section",
      frame_id: "related-projects-section",
      projects: @initiative.related_projects,
      show_form: true,
      create_url: add_related_project_initiative_path(@initiative.id) %>
<% end %>
<%= turbo_stream.replace "search-project-#{@linked_project.id}" do %>
  <li class="section__item section__item--searchable section__item--with-action"
      id="search-project-<%= @linked_project.id %>"
      data-search-type="project"
      data-search-name="<%= @linked_project.name.downcase %>"
      data-search-poc="<%= @linked_project.point_of_contact.to_s.downcase %>">
    <a href="<%= project_path(@linked_project.id) %>" class="section__link" data-turbo-frame="_top">
      <span class="project-item__health project-item__health--<%= (@linked_project.health || :not_available).to_s.tr('_', '-') %>"></span>
      <span class="section__name"><%= @linked_project.name %></span>
    </a>
    <span class="section__badge section__badge--linked">✓ Linked</span>
  </li>
<% end %>
<%= turbo_stream.append "toast-container" do %>
  <div class="toast toast--success toast--visible" data-controller="toast"><%= @linked_project.name %> linked to initiative!</div>
<% end %>
