<% content_for(:title) { "#{@initiative.name} - Radar" } %>

<div data-controller="edit-form" data-edit-form-url-value="<%= initiative_path(@initiative.id) %>" data-edit-form-model-type-value="initiative">

<%= render 'shared/header', presenter: @header_presenter %>

<div class="initiative-dashboard">
  <div class="metrics-row">
    <%= render 'shared/health_widget', presenter: @health_presenter %>
    <%= render 'shared/trend_widget', presenter: @trend_presenter %>
    <%= render 'shared/confidence_widget', presenter: @confidence_presenter %>
  </div>

  <%= render 'shared/search' %>

  <%= render 'shared/projects_section',
      frame_id: 'related-projects-section',
      projects: @initiative.related_projects,
      show_form: true,
      create_url: add_related_project_initiative_path(@initiative.id),
      tooltip: 'Projects related to this initiative. Each project contributes equally to initiative health. Only top-level projects can be added.' %>
</div>

<%= render 'shared/toast_container' %>

<%= render 'shared/edit_modal', presenter: @edit_modal_presenter %>

<%= render 'initiatives/cascade_modal' %>

</div><!-- end edit-form controller wrapper -->

<% if defined?(@errors) && @errors.present? %>
  <div class="errors">
    <ul>
      <% @errors.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>
