<%= turbo_stream.remove "update-#{@health_update.date.strftime('%Y-%m-%d')}" %>

<%= turbo_stream.prepend "updates-container" do %>
  <%= render "projects/update_row", update: @health_update %>
<% end %>

<%= turbo_stream.update "updates-header" do %>
  <div class="updates-header">
    <span class="updates-header__col updates-header__col--date">Date</span>
    <span class="updates-header__col updates-header__col--health">Health</span>
    <span class="updates-header__col updates-header__col--description">Description</span>
  </div>
<% end %>

<%= turbo_stream.remove "updates-empty" %>

<%= turbo_stream.replace "health-widget" do %>
  <%= render "shared/health_widget", presenter: @health_presenter %>
<% end %>

<%= turbo_stream.replace "trend-widget" do %>
  <%= render "shared/trend_widget", presenter: @trend_presenter %>
<% end %>

<%= turbo_stream.replace "confidence-widget" do %>
  <%= render "shared/confidence_widget", presenter: @confidence_presenter %>
<% end %>
