<% content_for(:title) { "#{@project_record.name} - Radar" } %>
<% project = @project || @project_record %>

<div data-controller="edit-form" data-edit-form-url-value="<%= project_path(@project_record) %>">

<%= render 'shared/header', presenter: @header_presenter %>

<% if @health_summary %>
<div class="initiative-dashboard-v2">
  <div class="metrics-row-v2">
    <%= render 'shared/health_widget', presenter: @health_presenter %>
    <%= render 'shared/trend_widget', presenter: @trend_presenter %>
    <%= render 'shared/confidence_widget', presenter: @confidence_presenter %>
  </div>
</div>
<% end %>

<%= render 'shared/toast_container' %>

<%= render 'shared/search' %>

<%
  # Show child projects section if: has children OR has neither children nor health updates (empty project)
  # Don't show if has health updates and no children (leaf project with updates)
  has_children = project.children.any?
  health_updates = @health_updates || []
  has_health_updates = health_updates.any?
  show_child_projects = has_children || (!has_children && !has_health_updates)
%>
<% if show_child_projects %>
  <%= render 'shared/projects_section',
      frame_id: 'child-projects-section',
      projects: project.children,
      show_form: true,
      create_url: subordinates_project_path(@project_record) %>
<% end %>

<%= render 'projects/health_updates',
    project: project,
    project_record: @project_record,
    health_updates: @health_updates,
    allowed_states: SetProjectState::SETTABLE_STATES %>

<%= render 'shared/edit_modal', presenter: @edit_modal_presenter %>

</div><!-- end edit-form controller wrapper -->

<% if defined?(@errors) && @errors.present? %>
  <div class="errors">
    <ul>
      <% @errors.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>
