<% content_for(:title) { "#{@project_record.name} - Radar" } %>
<% project = @project || @project_record %>

<div data-controller="edit-form" data-edit-form-url-value="<%= project_path(@project_record) %>">

<%= render 'shared/header', presenter: @header_presenter %>

<% if @health_summary %>
<div class="initiative-dashboard-v2">
  <div class="metrics-row-v2">
    <%= render 'shared/health_widget', presenter: @health_presenter %>
    <%= render 'shared/trend_widget', presenter: @trend_presenter %>
    <%= render 'shared/confidence_widget', presenter: @confidence_presenter %>
  </div>
</div>
<% end %>

<%= render 'shared/toast_container' %>

<%= render 'shared/search' %>

<%= render 'projects/child_projects',
    project: project,
    project_record: @project_record,
    health_updates: @health_updates %>

<%= render 'projects/health_updates',
    project: project,
    project_record: @project_record,
    health_updates: @health_updates,
    allowed_states: SetProjectState::SETTABLE_STATES %>

<%= render 'shared/edit_modal', presenter: @edit_modal_presenter %>

</div><!-- end edit-form controller wrapper -->

<% if defined?(@errors) && @errors.present? %>
  <div class="errors">
    <ul>
      <% @errors.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>
